<div class='flex flex-col items-center justify-center'>
    <img src="~/images/404-error.png" alt="">

    <h1>Oops! page not found</h1>

    <p>The page you are looking for does not exists.</p>

    <div>    
        <cf-navlink variant="primary">Back to Hompage</cf-navlink>
    </div>
</div>