@* @{
    ViewData["Title"] = "Home Page";
} *@

@{
    ViewData["IsHome"] = true;
}

<div>
    @await Html.PartialAsync("Components/Home/_AboutUs")
    @await Html.PartialAsync("Components/Home/_OurPrograms")
    @await Html.PartialAsync("Components/Home/_OurStore")
</div>
