@using CoreFitness.Web.ViewModels.Admin.Sessions
@model CreateSessionViewModel

@{
    var date = Model?.StartDate > DateTime.MinValue
        ? Model.StartDate.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")
        : DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
}

<div class='bg-white flex flex-col p-4'>
    <form asp-action="Create" method="post" class='flex flex-col gap-4'>
        <div class='flex flex-col'>
            <label asp-for="Name">Name <span>*</span></label>
            <input asp-for="Name" placeholder='Name' class='bg-primary p-2 border rounded-md' />
        </div>

        <div class='flex flex-col'>
            <label asp-for="Description">Description <span>*</span></label>
            <input asp-for="Description" placeholder='Description' class='bg-primary p-2 border rounded-md' />
        </div>

        <div class='flex flex-col'>
            <label asp-for="StartDate">Start date <span>*</span></label>
            <input name="StartDate" type="datetime-local" value="@date)" class='bg-primary p-2 border rounded-md' />
        </div>

        <div class='flex flex-col'>
            <label asp-for="Capacity">Capacity <span>*</span></label>
            <input asp-for="Capacity" type="number" class='bg-primary p-2 border rounded-md' />
        </div>

        <div class='flex flex-col'>
            <label asp-for="DurationInMinutes"> Duration <span>*</span></label>
            <input asp-for="DurationInMinutes" type="number" class='bg-primary p-2 border rounded-md' />
        </div>

        <div class='self-end'>
            <cf-button type="submit">Create</cf-button>
        </div>
    </form>
</div>