@model ErrorViewModel

<div>
    <div>
        <h1>@Model.StatusCode</h1>

        <h2>@Model.Message</h2>
    </div>
    <div>    
        <cf-navlink variant="primary">Back to Hompage</cf-navlink>
    </div>
</div>