<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreFitness</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="">
            <div class="">
                <a class="text-8xl text-amber-800 font-bold" asp-area="" asp-controller="Home" asp-action="Index">CoreFitness to lazy</a>
                <button class="" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""></span>
                </button>
                <div class="">
                    <ul class="">
                        <li class="">
                            <a class="text-violet-400" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="">
            &copy; 2026 - CoreFitness.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
