<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreFitness</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
    <div class="relative bg-[url('/images/nav-hero.png')] bg-cover bg-top overflow-hidden m-4">
        <div class="absolute inset-0 bg-white/5 backdrop-brightness-110"></div>
        @await Html.PartialAsync("Components/_Navbar")
    </div>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @* @await Html.PartialAsync("Components/_Footer") *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
