@{
    var isHome = ViewData["IsHome"] as bool? == true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreFitness</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="bg-primary min-h-screen flex flex-col">

    @if(isHome){
        <div class="bg-[url('/images/nav-hero.png')] bg-cover bg-top mx-4 my-1 rounded-3xl">
            @await Html.PartialAsync("Components/Layout/_Navbar")
            <div class='flex justify-center'>

            @await Html.PartialAsync("Components/Home/_Hero")
            </div>
        </div>
        @await Html.PartialAsync("Components/Home/_Equipmentbar")
    }
    else
    {
        <div class="bg-[url('/images/nav-hero.png')] bg-cover bg-top m-4 rounded-2xl">
            @await Html.PartialAsync("Components/Layout/_Navbar")
        </div>

    }

    <main role="main" class="flex-1 pb-3 ">
        <div class='max-w-7xl mx-auto px-6'>
            <div class='fixed top-4 right-4 z-50'>

            @if(TempData["Error"] is string error)
            {
                <div class='bg-red-100 text-red-800 px-4 py-2 rounded toast-message'>@error</div>
            }
            @if(TempData["Success"] is string success)
            {
                <div class='bg-green-100 px-4 py-2 rounded toast-message'>@success</div>
            }
            </div>
            @RenderBody()
        </div>
    </main>

    <div class='flex justify-center'>
        @await Html.PartialAsync("Components/Layout/_Footer")
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
