@model UpdateProfileViewModel

<div class='flex flex-col bg-white'>
    <div class='flex p-8'>
        <h2 class='text-5xl font-semibold'>About Me</h2>
    </div>
    <hr>
    <form asp-controller="Profile" asp-action="Update" method="post" class='flex flex-col gap-2 p-8'>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="RowVersion" />

        <label class='font-header font-semibold'>First Name</label>
        <input asp-for="FirstName" placeholder='Enter First Name' class='border rounded-sm p-4 bg-primary ' />

        <label class='font-header font-semibold'>Last Name</label>
        <input asp-for="LastName" placeholder='Enter Last Name' class='border rounded-sm  p-4 bg-primary' />

        <label class='font-header font-semibold'>Email Address <span>*</span></label>
        <input asp-for="Email" placeholder='Enter Email' class='border rounded-sm p-4 bg-primary' />

        <label class='font-header font-semibold'>Phone Number</label>
        <input asp-for="PhoneNumber" placeholder='Enter Phone Number' class='border rounded-sm p-4 bg-primary' />

        <div class='flex flex-wrap gap-3'>
            <div class='flex flex-col'>
                <label class='font-header font-semibold'>Weight</label>
                <input asp-for="Weight" placeholder='Enter Weight' class='border rounded-sm p-4 bg-primary' />
            </div>

            <div class='flex flex-col'>
                <label class='font-header font-semibold'>Target Weight</label>
                <input asp-for="TargetWeight" placeholder='Enter Weight' class='border rounded-sm p-4 bg-primary' />
            </div>

            <div class='flex flex-col'>
                <label class='font-header font-semibold'>Height</label>
                <input asp-for="Height" placeholder='Enter Height' class='border rounded-sm p-4 bg-primary' />
            </div>
        </div>

        

        <button type="submit">Save</button>
    </form>
    <hr>
    <div>
        <form asp-controller="Profile" asp-action="UploadPhoto" method='post' enctype='multipart/form-data'
              class='flex flex-col p-4'>
            <label for="photo" class='font-header font-semibold'>Profile Image</label>

            <input type="file" name='photo' accept='image/**' class='border rounded-sm p-4 bg-primary' />

            <cf-button type="submit">Upload Photo</cf-button>
        </form>
    </div>
</div>