@model IEnumerable<BookingDTO>

<div class='bg-white p-4'>
    <h2 class='font-header text-4xl'>My bookings</h2>

    <div class='flex gap-4 flex-wrap'>
        @foreach (var booking in Model)
        {
            <cf-card css-class="w-[35%]">
                <div>
                    <h1 class='font-header font-medium'>Session: @booking.SessionName</h1>

                    <div>
                        <p>Duration: @booking.DurationInMinutes minutes</p>
                        <p>Starts: @booking.StartDate.ToString("HH:mm, dd MMMM yyyy ")</p>
                    </div>
                    <form asp-controller="Booking" asp-action="Cancel" asp-route-sessionId="@booking.TrainingSessionId"
                          method="post">
                        <button type="submit" class='bg-tertiary px-4 py-2'>
                            Cancel
                        </button>
                    </form>
                </div>
            </cf-card>
        }
    </div>
</div>