<cf-section>
    <img src="~/images/about-us-left-column.png" alt="">

    <cf-eyebrow text="About" />

    <h2 class="text-sm">Elevating Fitness Journey with Expert Guidance</h2>
    <p>We support every stage of your fitness journey with certified trainers, personalized 
        programs proven methods designed to help you train safely, build strength.
    </p>
    <div>
        <p>Our mission is to transform lives by combining expert guidance, 
            powerful training programs, and a motivating community that helps 
            you grow stronger every day.
        </p>
    </div>
</cf-section>