 <div>
    <img src="~/images/logoipsum-waves.png" alt="">
    <img src="~/images/logoipsum-sun.png" alt="">
    <img src="~/images/logoipsum-bug.png" alt="">
    <img src="~/images/logoipsum-navbuttons.png" alt="">
    <img src="~/images/logoipsum-inverted-star.png" alt="">
    <h2>Modern Equipment</h2>
 </div>