<cf-section>
    <div class='grid md:grid-cols-2 rounded-2xl text-white'>
        <div class='flex flex-col p-8 gap-8'>
            <div class='md:w-2/3'>
                <cf-eyebrow text="Strong Body. Strong Mind"/>
                <h2 class='font-header font-bold text-[2rem] md:text-[3.375rem] md:leading-16'>Build Strength Boost Confidence Today!</h2>
                <p class='font-paragraph font-semibold'>Begin your fitness journey with expert trainers, modern equipment, and a
                    supportive environment designed to help you build streangth and confidence.</p>
            </div>
            <div class='grid grid-cols-2 gap-4 font-paragraph'>
                <div class='flex items-center gap-2'>
                    <i class="fa-regular fa-circle-check text-tertiary"></i>
                    <p>Transform your body with training</p>
                </div>
    
                <div class='flex items-center gap-2'>
                    <i class="fa-regular fa-circle-check text-tertiary"></i>
                    <p>Build confidence through fitness</p>
                </div>
    
                <div class='flex items-center gap-2'>
                    <i class="fa-regular fa-circle-check text-tertiary"></i>
                    <p>Personal training for real results</p>
                </div>
    
                <div class='flex items-center gap-2'>
                    <i class="fa-regular fa-circle-check text-tertiary"></i>
                    <p>Fitness tailored to your goals</p>
                </div>
            </div>
            <div class='bg-tertiary/20 h-0.5'></div>
            <cf-navlink asp-controller="Home" asp-action="Index" variant="primary">
                Get Started
            </cf-navlink>
        </div>
        <img src="~/images/hero-image.png" alt="" class='hidden md:block'>
    </div>
</cf-section>