<div>
    <div>
        <div>
            <cf-eyebrow text="Strong Body. Strong Mind"/>
            <h2>Build Strength Boost Confidence Today!</h2>
            <p>Begin your fitness journey with expert trainers, modern equipment, and a
                supportive environment designed to help you build streangth and confidence.</p>
        </div>
        <div>
            <p>Transform your body with training</p>
            <p>Build confidence through fitness</p>
            <p>Personal training for real results</p>
            <p>Fitness tailored to your goals</p>
        </div>
        <hr>
        <cf-navlink asp-controller="#" asp-action="Index">
            Get Started
        </cf-navlink>
    </div>
    <img src="~/images/hero-image.png" alt="">
</div>