<div class='grid md:grid-cols-2 rounded-2xl text-white'>
    <div class='flex flex-col p-8 gap-8'>
        <div class='md:w-2/3'>
            <cf-eyebrow text="Strong Body. Strong Mind"/>
            <h2 class='font-header font-bold text-[2rem] md:text-[3.375rem] md:leading-16'>Build Strength Boost Confidence Today!</h2>
            <p class='font-paragraph font-semibold'>Begin your fitness journey with expert trainers, modern equipment, and a
                supportive environment designed to help you build streangth and confidence.</p>
        </div>
        <div class='flex flex-wrap gap-4 font-paragraph'>
            <p>Transform your body with training</p>
            <p>Build confidence through fitness</p>
            <p>Personal training for real results</p>
            <p>Fitness tailored to your goals</p>
        </div>
        <div class='bg-tertiary/20 h-0.5'></div>
        <cf-navlink asp-controller="Home" asp-action="Index" variant="primary">
            Get Started
        </cf-navlink>
    </div>
    <img src="~/images/hero-image.png" alt="" class='hidden md:block'>
</div>