<cf-section variant="light">
    <cf-eyebrow text="Our Programs" />
    <h2>Professional training program
        for stronger health</h2>

    <div>
        <img src="~/images/rope-training.png" alt="">
        <img src="~/images/gym-machines.png" alt="">
        <img src="~/images/weightlifter.png" alt="">
    </div>

    <div>
        <p>Let's make something great work together</p>
        <a href="#" aria-label='Get free quote'>Get Free Quote</a>
    </div>
</cf-section>