<cf-section variant="light">
    <div class='flex flex-col items-center justify-center'>            
        <cf-eyebrow text="Our Programs" />
        <h2 class='font-header text-2xl'>Professional training program
            for stronger health</h2>

        <div class='flex'>
            <img src="~/images/rope-training.png" alt="">
            <img src="~/images/gym-machines.png" alt="" class='hidden'>
            <img src="~/images/weightlifter.png" alt="" class='hidden'>
        </div>

        <div class='text-center'>
            <p>Let's make something great work together.</p>
            <a href="#" aria-label='Get free quote'>Get Free Quote!</a>
        </div>
    </div>
</cf-section>