<cf-section>
    <cf-eyebrow text="Our Store"/>
    <h2>High quality fitness products for results</h2>
    <img src="~/images/barbell.png" alt="">
    <img src="~/images/duffelbag.png" alt="">
    <img src="~/images/smartwatch.png" alt="">
    <img src="~/images/treadmill.png" alt="">
</cf-section>