<cf-section>
    <div class='flex flex-col items-center justify-center'>
        <cf-eyebrow text="Our Store"/>
        <h2 class='font-header text-2xl font-semibold'>High quality fitness products for results</h2>
        <div class='flex gap-4'>        
            <div class='flex flex-col items-center justify-center gap-2'>
                <img src="~/images/barbell.png" alt="">
                <img src="~/images/duffelbag.png" alt="">
                <img src="~/images/smartwatch.png" alt="">
                <img src="~/images/treadmill.png" alt="">    
            </div>
        </div>
    </div>
</cf-section>