@model ContactUsViewModel

<cf-section variant="light">
    <div class='flex'>
        <div>
            <img src="~/images/customer-woman.png" alt="">
        </div>
        <div class='p-15'>
            <h2 class='font-header font-semibold text-[1.75rem]'>Contact Us today</h2>
            <p>Ready to begin your fitness journey? Contact GymPro today and let our 
                expert trainers guide you with the right program and support.</p>
            @await Html.PartialAsync("Partials/_ContactUsForm", Model)
        </div>
    </div>
</cf-section>