@model ProfilePageViewModel

@* @{
    ViewData["Title"] = "Profile page";
} *@

<div class='flex items-center'>
    <h1>My Account</h1>
</div>
<div class='grid grid-cols-2'>
    <div>
        @await Html.PartialAsync("Partials/_ProfileSidebar", Model)
    </div>
    <div>
        @await Html.PartialAsync("Partials/_AboutMeForm", Model)
        @await Html.PartialAsync("Partials/_MyStatistics", Model.Statistics)
    </div>
</div>