@model ProfilePageViewModel

@* @{
    ViewData["Title"] = "Profile page";
} *@

<div class='text-center'>
    <h1 class='font-header font-medium text-5xl my-8'>My Account</h1>
</div>


<cf-section>
    <div class='grid grid-cols-[35%_1fr] gap-8 w-full overflow-hidden'>
        <div class='flex flex-col gap-8'>
            <div class='rounded-3xl overflow-hidden'>
                @if (Model.PhotoUrl is not null)
                {
                    <img src="@Model.PhotoUrl.Replace("=s96-c", "=s440-c")" class='object-cover w-full'
                         alt='Profile photo' />
                }
                else
                {
                    <div class='h-64 w-full bg-gray-400'>AVATARIMAGE</div>
                }
            </div>

            <aside>
                <partial name="Partials/_ProfileSidebar" model="Model.ActiveTab" />
            </aside>
        </div>

        <div class='overflow-hidden'>
            @if (Model.ActiveTab == ProfileTabs.About)
            {
                <partial name="Partials/_AboutMeForm" model="Model.UpdateForm" />
            }
            else if (Model.ActiveTab == ProfileTabs.Membership)
            {
                <partial name="Partials/_MyMembership" model="Model" />
            }
            else if (Model.ActiveTab == ProfileTabs.Bookings)
            {
                <partial name="Partials/_MyBookings" model="Model.Bookings" />
            }
        </div>
    </div>
</cf-section>