
@model SignInViewModel

@* TODO: Add text part *@

<section class="flex items-center justify-center px-4 py-36">
    <div class="max-w-215 bg-white rounded-[20px] shadow-sm p-16 flex flex-col gap-8">
        @if(TempData["Error"] is string error)
        {
            <div>
                <p class="text-red-400">@error</p>
            </div>
        }
        <div class="space-y-2">
            <h2>Welcome Back!</h2>
            <p>
                Login to continue you fitness journey....
            </p>
        </div>
        <hr class="border-top border-gray-light"/>
        <div class="text-center">
            @if (Model.ExternalProviders.Any())
            {
                <form asp-controller="Auth" asp-action="ExternalLogIn" method="post">
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

                    @foreach (var provider in Model.ExternalProviders)
                    {
                        <partial name="ExternalProviders/_@(provider)Button"/>
                    }
                </form>
            }
        </div>
    </div>
</section>