@using CoreFitness.Web.ViewModels.Admin.Memberships
@model AdminMembershipsViewModel

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>Memberships</h1>

@foreach(var type in Model.MembershipTypes)
{
    <cf-card>
        <h2>
            <p>@type.Name</p>
        </h2>

        
    </cf-card>
}