@using CoreFitness.Web.ViewModels.Admin.Sessions

@model AdminSessionsViewModel

@{
    Layout = "_AdminLayout";
}

<h1>Sessions</h1>

<div class='flex flex-col gap-6'>
    @await Html.PartialAsync("Partials/Sessions/_SessionTable", Model.Sessions)

    @await Html.PartialAsync("Partials/Sessions/_SessionForm", new CreateSessionViewModel())
</div>