@model MembershipPageViewModel

@{
    ViewData["Title"] = "Memberships page";
}

<div>
    @await Html.PartialAsync("Components/Membership/_MembershipOffers", Model.MembershipTypes)
    @await Html.PartialAsync("Components/Shared/_Faq", Model.FaqItems)
</div>