@model IEnumerable<TrainingSessionDTO>


<h2>Our Classes</h2>



@foreach(var session in Model)
{
    <h3>@session.Name</h3>

    <form asp-controller="Booking" asp-action="Book" method="post">
        <input type="hidden" name='sessionId' value="@session.Id" />
        <button type="submit" class='bg-tertiary px-4 py-2'>
            Book
        </button>
    </form>
}