@model SetUpPasswordViewModel

<section>
    <div>
        <div>
            <h2>Set Your Password</h2>
            <p>You are almost there! Set your password to secure your account.</p>
        </div>

        <form asp-controller="Account" asp-action="SetPassword" method="post">
            <input asp-for="Email" type="hidden"/>
            <input asp-for="ReturnUrl" type="hidden"/>

            <div>
                <label asp-for="Email">Email Address</label>
                <input value='@Model.Email' disabled/>
            </div>

            <div>
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" placeholder='Enter Password'/>
                <span asp-validation-for="Password"></span>
            </div>

            <div>
                <label asp-for="ConfirmPassword"> ConfirmPassword</label>
                <input asp-for="ConfirmPassword" type="password" placeholder='Enter Password'/>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <ul class="text-red-500 text-sm">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            }
            
            <button type="submit">Continue</button>
        </form>

        <p>
            Accept our <a href="/terms">terms and conditions</a>
        </p>
    </div>
</section>