@model SignUpViewModel

<section class='max-w-215 mx-auto'>
    <div class="max-w-215 mx-auto bg-white rounded-[20px] shadow-sm p-16 flex flex-col gap-8">
    <div>
        <h2 class='font-medium text-[3-5rem] font-header'>Become a member</h2>
        <p class='font-paragraph'>Sign up to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</p>
    </div>

    <div class="flex flex-col gap-15">
        <hr class='flex-1 border-t border-gray-400'/>

    @await Component.InvokeAsync("ExternalProviders", new { returnUrl = Model.ReturnUrl})
    
    
        <div class='flex items-center gap-4'>
            <hr class='flex-1 border-t border-gray-400'/>
            <span class='uppercase'>Or continue with</span>
            <hr class='flex-1 border-t border-gray-400'/>
        </div>
    </div>

    <form asp-controller="Account" asp-action="SignUp" method='post' class='flex flex-col gap-6'>

        <div class='flex flex-col'>
            <label asp-for="Email" class='font-semibold'>Email Address <span>*</span></label>
            <input asp-for="Email" type='email' placeholder='Enter Your Email' class='bg-gray-100 p-4 rounded-lg'/>
            <span asp-validation-for="Email"></span>
        </div>
        <button type="submit" class='w-fit self-center px-20 border rounded-lg'>Continue</button>
    </form>

    <p>We will send you a verification code to your email address</p>

    <p>Allready have an account?
        <a asp-controller="Account" asp-action="SignIn" class='underline'> Sign In</a>
    </p>
    </div>
</section>