@model IEnumerable<FaqItemDTO>

<cf-section>
    <div class='flex gap-10'>
        <img src="~/images/non-green-hulk.png" alt="">
        <div class='flex flex-col gap-5'>
            <cf-eyebrow text="Frequently Asked Questions"/>
            <h2 class='font-header text-5xl font-medium'>Common questions about gym and training</h2>
            @* @foreach(var item in Model)
            {
                @await Html.PartialAsync("Components/Shared/_FaqItem", item)
            } *@
            @for(int i = 0; i < Model.Count(); i++)
            {
                @await Html.PartialAsync("Components/Shared/_FaqItem", Model.ElementAt(i), new ViewDataDictionary(ViewData){
                    { "Index", i + 1}
                })
            }
        </div>
    </div>
</cf-section>