@model FaqItemDTO

<div>
    <button class="faq-btn">
        <span>@Model.Question</span>
        <i class='fa-solid fa-chevron-down'></i>
    </button>
    <div class='faq-answer hidden'>
        @if(!string.IsNullOrWhiteSpace(Model.Answer))
        {
            <p>@Model.Answer</p>
        }
        @if(Model.Bullets.Any())
        {
            <ul>
                @foreach(var bullet in Model.Bullets)
                {
                    <li class='flex items-center gap-2'><span class='w-1.5 h-1.5 bg-tertiary rounded-full inline-block'></span> @bullet</li>
                }
            </ul>
        }
    </div>
</div>