@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager


@* TODO: Fix navbar design width and rounded top *@
    <nav class="bg-transparent text-white rounded-2xl px-6 py-4 flex items-center justify-between">
            <a asp-controller="Home" asp-action="Index" class='flex items-center'>
                <img src="~/images/logotype.svg" alt='CoreFitness logo' class='h-8'/>
            </a>

            <ul class='hidden md:flex items-center gap-8 text-sm font-medium'>
                <li>
                    <cf-navlink asp-controller="Home" asp-action="Index">
                        Fitness Centers
                    </cf-navlink>
                </li>
                <li>
                    <cf-navlink asp-controller="Memberships" asp-action="Index">
                        Memberships
                    </cf-navlink>
                </li>
                @* TODO: Proper dropdown *@
                <li class='relative group'>
                    <button class="flex items-center gap-1 hover:text-lime-400 transition-colors">
                        Training
                    </button>
                    <div class='absolute top-full left-0 mt-2 w-48 bg-white text-gray900 rounded-lg shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50'>
                        <a href="#" class='block px-4 py-3 hover:bg-gray-50 rounded-t-lg text-sm text-gray-500'>Group Training</a>
                        <a href="#" class='block px-4 py-3 hover:bg-gray-50 rounded-t-lg text-sm text-gray-500'>Personal Training</a>
                        <a href="#" class='block px-4 py-3 hover:bg-gray-50 rounded-t-lg text-sm text-gray-500'>Padel</a>
                    </div>
                </li>
                
                <li>
                    <cf-navlink asp-controller="CustomerService" asp-action="Index">
                        Customer Service
                    </cf-navlink>
                </li>
            </ul>
            <div class='hidden md:flex items-center gap-4'>
                @if(SignInManager.IsSignedIn(User))
                {
                    <cf-navlink asp-controller="Memberships" asp-action="Index">
                        Our Classes
                    </cf-navlink>

                    <cf-navlink asp-controller="Profile" asp-action="AboutMe" variant="primary">
                        My Account
                    </cf-navlink>
                }
                else
                {
                    <cf-navlink asp-controller="Profile" asp-action="AboutMe">
                        Our Classes
                    </cf-navlink>

                    <cf-navlink asp-controller="Profile" asp-action="AboutMe" variant="primary">
                        Sign In
                    </cf-navlink>
                }
            </div>

            <button id='mobile-menu-btn' class='md:hidden p-2 hover:cursor-pointer' aria-label='Toggle menu' >
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>

            <div id="mobile-menu" class='hidden'>
                <div>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                    <a asp-controller="Membership" asp-action="Index">
                        Memberships
                    </a>
                    <a asp-controller="Training" asp-action="Index">
                        Training
                    </a>
                    <a asp-controller="CustomerService" asp-action="Index">
                        Customer servcie
                    </a>
                    <a asp-controller="Store" asp-action="Index">
                        Store
                    </a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-controller="Profile" asp-action="Index">
                            My Account
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Membership" asp-action="Index">Become Member</a>
                        <a asp-controller="Account" asp-action="Index">Sign In</a>
                    }
                </div>
            </div>
        @* </div> *@
    </nav>